.tabContainer {
  display: flex;
  margin-bottom: 10px;
  justify-content: flex-end;
  border-bottom: 1px solid #a0a0a0;
}

.tab,
.activeTab {
  all: unset;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 2rem;
  border: none;
  margin-bottom: 0.5rem;
  &:last-child {
    margin-right: 0;
  }
}

.activeTab {
  color: #f4822f;
}
